.item {
  .item-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-top: 60px;
  }
}

.box {
  position: relative;
  box-shadow: 0px 2px 0px 0px #e0e0e0;
  background-color: white;
  border-radius: 10px;
  width: 180px;
  height: 200px;
  margin: 10px 5px;

  img {
    width: 180px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
  }

  .button-box {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-right: 20px;

    button {
      border: 1px solid red;
      border-radius: 5px;
      background-color: white;
      color: red;
    }
  }

  .img-text {
    color: white;
    position: absolute;
    top: 40%;
    left: 60%;
  }
}

.name {
  margin: 10px 0px 0px 20px;
}

.age {
  margin: 0px 20px;
  font-size: 14px;
  font-weight: 200;
}

h4 {
  margin: 15px 10px 5px;
}

header {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  width: 400px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.randomBox {
  position: relative;
  box-shadow: 0px 2px 0px 0px #e0e0e0;
  background-color: red;
  border-radius: 10px;
  width: 180px;
  height: 200px;
  margin: 10px 5px;
}
